.footer {
    padding-top: 86px;
    padding-bottom: 82px;
}

.footer-logo {
    margin-bottom: 15px;
}

.footer-info {
    width: 300px;
}

.footer-text {
    
    margin-bottom: 40px;
    line-height: 169%;
    letter-spacing: 1.15px;
}


.footer-social {
    display: flex;
    align-items: center;
    column-gap: 30px;
}

.social-icon:hover {
    opacity: 0.3;
}

.footer-row {
    display: flex;
    justify-content: space-between;
}

.footer-nav {
    display: flex;
    column-gap: 85px;
}

.footer-nav-block a {
    color: #323232;
}

.footer-nav-block a:hover {
    color: #F78434;
}

.footer-nav-block li {
    font-weight: 400;
    font-size: 14px;
    line-height: 193%;
    letter-spacing: 0.5px;
}

.footer-nav-block li + li {
    margin-top: 13px;
}



.footer-nav-block-title {
    font-weight: 700;
    font-size: 21px;
    line-height: 32px;
    letter-spacing: 0.5px;
    margin-bottom: 18px;
}