.img-card {
    position: relative;
    width: 385px;
}

.img-card + .img-card {
    margin-left: 32px;
}

.img-card-img {
    border-radius: 20px 20px 20px 20px;
}

.img-card-imgg {
    border-radius: 20px 20px 0px 20px;
}

.img-card-info {
    position: absolute;
    right: -46px;
    bottom: 87px;
}
    

